@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

html {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q, blockquote {
  quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #d3c6d8;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  min-width: 1300px;
}

div.container {
  width: 100%;
}

.tooltipster-default {
  background-color: #443a49 !important;
  color: #d3c6d8;
  border: 0 solid rgba(0, 0, 0, 0.9) !important;
}

h1 {
  font-size: 35pt;
  color: inherit;
}

div.sidebar {
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  min-width: 3%;
  position: fixed;
  background-color: #443a49;
  padding-top: 20px;
}
div.sidebar a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dotted #d3c6d8;
}
div.sidebar .nav-on, div.sidebar nav div:hover {
  color: #443a49;
  background-color: #d3c6d8;
}
div.sidebar nav div {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  transition-duration: .2s;
  transition-property: color;
  padding: 15px;
  font-size: 20pt;
  color: #d3c6d8;
}
div.sidebar nav div:hover {
  cursor: pointer;
}

@-webkit-keyframes float {
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }

  to {
    -webkit-transform: translate3d(0, 20px, 0);
  }
}

@keyframes float {
  from {
    transform: translate3d(0, 0, 0);
  }

  to {
    transform: translate3d(0, 20px, 0);
  }
}

div.main-container {
  width: 97%;
  float: right;
}
div.main-container #home, div.main-container #about, div.main-container #work, div.main-container #contact {
  overflow: hidden;
  *zoom: 1;
  padding: 20px;
  color: #404040;
}
div.main-container #home {
  position: relative;
}
div.main-container #home div.main-title {
  font-size: 70pt;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-left: -249px;
  margin-top: -93px;
}
div.main-container #home div.main-title div.main-sub-title {
  text-align: center;
  color: #828282;
  font-size: 20pt;
  letter-spacing: 6px;
  font-style: italic;
}
div.main-container #home div.arrow-down {
  -webkit-animation: float 2.5s infinite linear alternate;
  animation: float 2.5s infinite linear alternate;
  font-size: 50pt;
  position: absolute;
  left: 50%;
  top: 79%;
  margin-left: -22px;
}
div.main-container #home div.arrow-down:hover {
  cursor: pointer;
}
div.main-container #about div.about-main {
  display: none;
  background-color: #ecf0f1;
  -webkit-box-shadow: #828282 0 0 20px 5px;
  -moz-box-shadow: #828282 0 0 20px 5px;
  box-shadow: #828282 0 0 20px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 45px;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  margin-top: 15px;
}
div.main-container #about div.about-main section {
  color: #5f5f5f;
  text-align: left;
  font-size: 15pt;
  line-height: 30px;
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
}
div.main-container #about div.about-main section::first-letter {
  font-size: 35pt;
}
div.main-container #about div.about-main img.about-img {
  margin-bottom: 35px;
  width: 148px;
  height: 148px;
  -webkit-border-radius: 74px;
  -moz-border-radius: 74px;
  -ms-border-radius: 74px;
  -o-border-radius: 74px;
  border-radius: 74px;
}
div.main-container #work {
  width: 100%;
}
div.main-container #work section {
  padding-top: 20px;
  margin-left: 25px;
  text-align: justify;
  line-height: 30px;
  width: 35%;
  font-size: 15pt;
  float: left;
}
div.main-container #work div.tumblr {
  padding: 30px;
  display: none;
  width: 60%;
  background-color: #ecf0f1;
  height: 700px;
  float: right;
  overflow-y: scroll;
  -webkit-box-shadow: #828282 0 0 20px 5px;
  -moz-box-shadow: #828282 0 0 20px 5px;
  box-shadow: #828282 0 0 20px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
div.main-container #work div.tumblr h1 {
  padding-bottom: 30px;
}
div.main-container #work div.tumblr h1 a {
  color: inherit;
  text-decoration: none;
}
div.main-container #work div.tumblr h1 a:hover {
  color: #d3c6d8;
  text-decoration: underline;
}
div.main-container #work div.tumblr div.tumblr-post {
  overflow: hidden;
  *zoom: 1;
}
div.main-container #work div.tumblr div.tumblr-post div.tumblr-post-title {
  font-size: 25pt;
  float: left;
  padding-bottom: 7px;
}
div.main-container #work div.tumblr div.tumblr-post div.tumblr-post-date {
  color: #aaa8a8;
  float: right;
}
div.main-container #work div.tumblr div.tumblr-post div.tumblr-post-body {
  clear: both;
}
div.main-container #contact div.contact-dialogue {
  width: 30%;
  margin: 0 auto;
}
div.main-container #contact div.contact-dialogue form {
  padding-top: 3em;
  text-align: center;
}
div.main-container #contact div.contact-dialogue form input, div.main-container #contact div.contact-dialogue form button, div.main-container #contact div.contact-dialogue form textarea {
  border: 0;
  margin: .5em auto;
  font-size: 16pt;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  outline: none;
  font-family: "Lato", sans-serif;
}
@media screen and (max-width: 700px) {
  div.main-container #contact div.contact-dialogue form input, div.main-container #contact div.contact-dialogue form button, div.main-container #contact div.contact-dialogue form textarea {
    font-size: 12.5pt;
  }
}
div.main-container #contact div.contact-dialogue form input, div.main-container #contact div.contact-dialogue form textarea {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  transition-property: box-shadow;
  width: 85%;
  padding: .7em;
  color: rgba(0, 0, 0, 0.75);
}
div.main-container #contact div.contact-dialogue form input:focus, div.main-container #contact div.contact-dialogue form textarea:focus {
  box-shadow: 0 0 7px #443a49;
}
div.main-container #contact div.contact-dialogue form button {
  width: auto;
  padding: .5em 1.4em;
  background-color: #443a49;
  color: white;
}
