@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic");
/* line 17, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 14, ../sass/screen.scss */
* {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}

/* line 20, ../sass/screen.scss */
body, html {
  width: 100%;
  height: 100%;
  background-color: #d3c6d8;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

/* line 28, ../sass/screen.scss */
div.container {
  width: 100%;
}

/* line 33, ../sass/screen.scss */
.tooltipster-default {
  background-color: #443a49 !important;
  color: #d3c6d8;
  border: 0 solid rgba(0, 0, 0, 0.9) !important;
}

/* line 45, ../sass/screen.scss */
h1 {
  font-size: 35pt;
  color: inherit;
}

/* line 52, ../sass/screen.scss */
div.sidebar {
  overflow: hidden;
  white-space: nowrap;
  height: 100%;
  min-width: 3%;
  position: fixed;
  background-color: #443a49;
  padding-top: 20px;
}
/* line 55, ../sass/screen.scss */
div.sidebar a {
  text-decoration: none;
  color: inherit;
  border-bottom: 1px dotted #d3c6d8;
}
/* line 66, ../sass/screen.scss */
div.sidebar .nav-on, div.sidebar nav div:hover {
  color: #443a49;
  background-color: #d3c6d8;
}
/* line 70, ../sass/screen.scss */
div.sidebar nav div {
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
  transition-duration: .2s;
  padding: 15px;
  font-size: 20pt;
  color: #d3c6d8;
}
/* line 73, ../sass/screen.scss */
div.sidebar nav div:hover {
  cursor: pointer;
}

@-webkit-keyframes float {
  /* line 85, ../sass/screen.scss */
  from {
    -webkit-transform: translate3d(0, 0, 0);
  }

  /* line 86, ../sass/screen.scss */
  to {
    -webkit-transform: translate3d(0, 20px, 0);
  }
}

@keyframes float {
  /* line 91, ../sass/screen.scss */
  from {
    transform: translate3d(0, 0, 0);
  }

  /* line 92, ../sass/screen.scss */
  to {
    transform: translate3d(0, 20px, 0);
  }
}

/* line 97, ../sass/screen.scss */
div.main-container {
  width: 97%;
  float: right;
}
/* line 100, ../sass/screen.scss */
div.main-container #home, div.main-container #about, div.main-container #work, div.main-container #contact {
  overflow: hidden;
  *zoom: 1;
  padding: 20px;
  color: #404040;
}
/* line 105, ../sass/screen.scss */
div.main-container #home {
  position: relative;
}
/* line 107, ../sass/screen.scss */
div.main-container #home div.main-title {
  font-size: 70pt;
  opacity: 0;
  position: absolute;
  top: 55%;
  left: 50%;
  margin-left: -249px;
  margin-top: -93px;
}
/* line 113, ../sass/screen.scss */
div.main-container #home div.main-title div.main-sub-title {
  text-align: center;
  color: #828282;
  font-size: 20pt;
  letter-spacing: 6px;
  font-style: italic;
}
/* line 121, ../sass/screen.scss */
div.main-container #home div.arrow-down {
  -webkit-animation: float 2.5s infinite linear alternate;
  animation: float 2.5s infinite linear alternate;
  font-size: 50pt;
  position: absolute;
  left: 50%;
  top: 79%;
  margin-left: -22px;
}
/* line 128, ../sass/screen.scss */
div.main-container #home div.arrow-down:hover {
  cursor: pointer;
}
/* line 134, ../sass/screen.scss */
div.main-container #about div.about-main {
  display: none;
  background-color: #ecf0f1;
  -webkit-box-shadow: #828282 0 0 20px 5px;
  -moz-box-shadow: #828282 0 0 20px 5px;
  box-shadow: #828282 0 0 20px 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  padding: 45px;
  text-align: center;
  width: 75%;
  margin: 0 auto;
  margin-top: 15px;
}
/* line 145, ../sass/screen.scss */
div.main-container #about div.about-main section {
  color: #5f5f5f;
  text-align: left;
  font-size: 15pt;
  line-height: 30px;
  column-count: 3;
  -webkit-column-count: 3;
  -moz-column-count: 3;
}
/* line 153, ../sass/screen.scss */
div.main-container #about div.about-main section::first-letter {
  font-size: 35pt;
}
/* line 157, ../sass/screen.scss */
div.main-container #about div.about-main img.about-img {
  margin-bottom: 35px;
  width: 148px;
  height: 148px;
  -webkit-border-radius: 74px;
  -moz-border-radius: 74px;
  -ms-border-radius: 74px;
  -o-border-radius: 74px;
  border-radius: 74px;
}
