@import "compass/reset";
@import "compass";

@import url("http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic");

// --------------------- Global -----------------------

// ---------------------- Vars ------------------------

$main-background: #d3c6d8;
$sidebar-background: #443a49;
$text-main: $main-background;

* {
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

body,html {
	width: 100%;
	height: 100%;
	background-color: $main-background;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	min-width: 1300px;
}

div.container {
	width: 100%;
}

// Tooltip customisation
.tooltipster-default {
	background-color: $sidebar-background !important;
	color: $main-background;
	border: 0 solid rgba(0,0,0,.9) !important;
}

@mixin rounded-img($size) {
	width: $size;
	height: $size;
	@include border-radius($size/2)
}

h1 {
	font-size: 35pt;
	color: inherit;
}

// ---------------------- Sidebar ---------------------

div.sidebar {
	overflow: hidden;
	white-space: nowrap;
	a {
		text-decoration: none;
		color: inherit;
		border-bottom: 1px dotted $text-main;
	}
	height: 100%;
	min-width: 3%;
	position: fixed;
	background-color: $sidebar-background;
	padding-top: 20px;
	//@include box-shadow(#747175 4px 0 6px);
	.nav-on {
		color: $sidebar-background;
		background-color: $main-background;
	}
	nav div {
		@include transition();
		transition-duration: .2s;
		transition-property: color;
		&:hover { @extend .nav-on; cursor: pointer }
		padding: 15px;
		font-size: 20pt;
		color: $text-main;
	}

}

// ------------------- Animations --------------------

@-webkit-keyframes float {

	from { -webkit-transform: translate3d(0, 0, 0); }
    to { -webkit-transform: translate3d(0, 20px, 0); }

}

@keyframes float {
	from { transform: translate3d(0, 0, 0); }
    to { transform: translate3d(0, 20px, 0); }
}

// ------------------- Main Content -------------------

div.main-container {
	width: 97%;
	float: right;
	#home, #about, #work, #contact {
		@include clearfix();
		padding: 20px;
		color: rgb(64,64,64);
	}
	#home {
		position: relative;
		div.main-title {
			font-size: 70pt;
			opacity: 0;
			position: absolute;
			top: 55%; left: 50%;
			margin-left: -249px; margin-top: -93px;
			div.main-sub-title {
				text-align: center;
				color: rgb(130,130,130);
				font-size: 20pt;
				letter-spacing: 6px;
				font-style: italic;
			}
		}
		div.arrow-down {
			-webkit-animation: float 2.5s infinite linear alternate;
			animation: float 2.5s infinite linear alternate;
			font-size: 50pt;
			position: absolute;
			left: 50%; top: 79%;
			margin-left: -22px;
			&:hover {
				cursor: pointer;
			}
		}
	}
	#about {
		div.about-main {
			display: none;
			background-color: #ecf0f1;
			//border-left: 10px solid rgb(64,64,64);
			@include box-shadow(rgb(130,130,130) 0 0 20px 5px);
			@include border-radius(3px);
			padding: 45px;
			text-align: center;
			width: 75%;
			margin: 0 auto;
			margin-top: 15px;
			section {
				color: rgb(95,95,95);
				text-align: left;
				font-size: 15pt;
				line-height: 30px;
				column-count: 3;
				-webkit-column-count: 3;
				-moz-column-count: 3;
				&::first-letter {
					font-size: 35pt;
				}
			}
			img.about-img {
				margin-bottom: 35px;
				@include rounded-img(148px);

			}
		}
	}
	#work {
		width: 100%;
		section {
			padding-top: 20px;
			margin-left: 25px;
			text-align: justify;
			line-height: 30px;
			width: 35%;
			font-size: 15pt;
			float: left;
		}
		div.tumblr {
			h1 {
				padding-bottom: 30px; 
				a {
					color: inherit;
					text-decoration: none;
					&:hover {
						color: $main-background;
						text-decoration: underline;
					}
				}
			}
			padding: 30px;
			display: none;
			width: 60%;
			background-color: #ecf0f1;
			height: 700px;
			float: right;
			overflow-y: scroll;
			@include box-shadow(rgb(130,130,130) 0 0 20px 5px);
			@include border-radius(3px);
			div.tumblr-post {
				@include clearfix();
				div.tumblr-post-title {
					font-size: 25pt;
					float: left;
					padding-bottom: 7px;
				}
				div.tumblr-post-date {
					color: rgb(170, 168, 168);
					float: right;
				}
				div.tumblr-post-body {
					clear: both;
				}
			}
		}
	}

	#contact {
		div.contact-dialogue {
			width: 30%;
			margin: 0 auto;
			form {
				padding-top: 3em;
				input, button, textarea {
					border: 0;
					margin: .5em auto;
					font-size: 16pt;
					@media screen and (max-width: 700px) {
						font-size: 12.5pt;
					}
					@include border-radius(5px);
					outline: none;
					font-family: "Lato", sans-serif;
				}
				input, textarea {
					@include transition();
					transition-property: box-shadow;
					&:focus { box-shadow: 0 0 7px $sidebar-background };
					width: 85%;
					padding: .7em;
					color: rgba(0,0,0,.75);
				}
				text-align: center;
				button {
					width: auto;
					padding: .5em 1.4em;
					background-color: $sidebar-background;
					color: white;
				}
			}
		}

	}
}